// Color scheme

// Whites

$white: #FFF;

// blues

$blue-france: #3C91E6;

// yellows

$coral: #FFD700;

// reds

$flame: #E4572E;

// Fonts

$mono:'PT Mono', monospace;
$roboto: 'Roboto', sans-serif;

// Font sizes

$xxx-large: 70px;
$xx-large: 40px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
